body {
    margin: 0;
    background: #212121;
}

* {
    font-family: 'Merriweather Sans', sans-serif;
    color: hsl(42, 100%, 82%);
}

.welcome-text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    list-style-type: none;
    overflow: auto;
    text-align: center;
    padding: 1vmin;
    font-weight: 10;
}

.container {
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 10vmax;
}
.player-iframe {
    border-radius: 15px;
    padding: 1vmax;

}
.player-iframe iframe {
    border-radius: 15px;
    display: block;
}
.container-bg-present {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.icon i {
    width: 40%;
    font-size: 100px;
    color: white;
}
.icon h2 {
    display: inline-block;
}
.icon {
    padding: 15px 18px;
    position: relative;
}
.data {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
}
.icon:hover .data-input {
    display: block;
}
.icon img {
    width: 80%;
    padding: 10px 12px;
}