body {
    background: #202020;
}

* {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    padding: 0% 0%;
}

.welcome-text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    list-style-type: none;
    overflow: auto;
    text-align: center;
    padding: 1px 0px;
    font-weight: 10;
    background: hsla(0, 0%, 90%, 50%);
}

.menu {
    font-size: large;
    background-color: #474747;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
}

ul {
    position: relative;
    display: flex;
    padding: 0% 1%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    list-style-type: none;
    overflow: auto;
}

.name-logo {
    font-size: larger;
    margin-right: auto;
    padding: 0px 20px;
    /* align-self:flex-start; */
    /* justify-content: flex-start; */
    color: rgb(0, 217, 255);
}

li {
    padding: 0% 1%;
}   

li a {
    position: relative;
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
}

li a::after {
    border-radius: 5px;
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: hsl(0, 0%, 62%);
    transform: scaleY(0);
    transform-origin: top;
    transition: 1s;
}

li a:hover {
    color: hsl(0, 0%, 65%);
}

li a:hover::after {
    transform: scaleY(1);
    background: hsl(0, 0%, 50%);
    transform-origin: top;
    transition: 0.2s;
}


.container {
    background-color: rgba(255, 255, 255, 0.1);
}
.player-iframe {
    padding: 10px 12px;

}
.player-iframe iframe {
    border-radius: 15px;
    display: block;
}
.container-bg-present {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.icon i {
    width: 40%;
    font-size: 100px;
    color: white;
}
.icon h2 {
    display: inline-block;
}
.icon {
    padding: 15px 18px;
    position: relative;
}
.data {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
}
.icon:hover .data-input {
    display: block;
}
.icon img {
    width: 80%;
    padding: 10px 12px;
}